* {
    margin: 0;
    padding: 0;
    font-family: "Tomorrow", sans-serif;
}

nav {
    position: fixed;
    /* width: 100vw; */
    width: calc(100vw - 24px);
    /* height: 46px; */
    height: calc(46px - 5px);
    background-color: #FDE0C5;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-left: 24px;
    z-index: 1;
}

#logo_container {
    position: relative;
    width: 100px;
    height: 35px;
    /* background-color: #1A1F4D; */
    text-align: center;
}
#logo {
    color: #1A1F4D;
    text-decoration: none;
    font-size: 28px;
}
#logo:hover {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    color: #fff;
}

h1 {
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.back_button {
    text-decoration: none;
    color: white;
}

h5 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}

h6 {
    font-size: 12px;
    color: #000000;
    font-weight: normal;    
}

h7 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;       
}
.gallery_button {
    text-decoration: none;
    color: white;
}

section {
    position: relative;
    width: 100vw;
}
section#first_sect main {
    position: relative;
    margin-top: 46px;
    /* height: 90px; */
    height: calc(90px - 46px - 20px);
    /* width: 370px; */
    width: calc(370px - 10px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    background-color: #AA738C;
    margin-bottom: 36px;
    padding-top: 20px;
    padding-left: 10px;
}

section#second_sect main {
    position: relative;
    height: 50px;
    width: 100vw;
    margin-left: 20px;
    margin-right: auto;
}

#sortby {
    position: relative;
    display: inline;
    float: right;
    width: 50px;
    height: 100%;
    background-color: #1A1F4D;
}

#gallopt_parent {
    position: relative;
    width: 370px;
    height: 100%;
}

.galleryoption {
    position: absolute;
    width: 190px;
    height: calc(100% - 10px);
    padding-top: 10px;
    text-align: center;
}

#galleryoption_one {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: calc(100% - 15px);
    padding-top: 15px;
    text-align: center;
}

#galleryoption_two {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: calc(100% - 15px);
    padding-top: 15px;
    text-align: center;
    left: 50%;
    background-color: #AA738C;
}

.galleryoption:nth-child(2) {
    left: 190px;
}

.galleryoption:hover {
    background-color: #AA738C;
}

#galleryoption_two:hover {
    background-color: #AA738C;
}

section#third_sect main {
    position: relative;
    height: calc(390px - 13px - 25px);
    /* width: 370px; */
    width: calc(370px - 15px);
    margin-left: 20px;
    margin-right: auto;
    padding-left: 15px;
    padding-top: 10px;
    background-color: #AA738C;
}

.cardcontline_parent {
    position: relative;
    display: flex;
    height: 300px;
    width: 340px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.card11 {
    position: relative;
    display: inline-block;
    /* height: 275px; */
    height: calc(260px - 10px);
    /* width: 220px; */
    width: calc(220px - 11px - 11px);
    background-color: white;
    padding-left: 11px;
    padding-right: 20px;
    padding-top: 10px;
    margin-top: 27px;
    margin-right: 15px;
    border: 3px solid #1A1F4D;
    border-radius: 12px;
    box-shadow: 3px 3px #1A1F4D;
}
.card11:hover {
    border: 3px solid #FCB27A;
    box-shadow: 4px 4px #F47B51;
}

.picparent_11 {
    position: relative;
    height: 190px;
    width: 190px;
    /* background-color: #000000; */
    margin-bottom: 10px;
    /* border: 4px solid #1A1F4D; */
}
.img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 4px solid #1A1F4D;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal_parent {
    /* width: calc(1036px - 70px); */
    width: 80%;
    /* height: 570px; */
    height: 70%;
    background-color: aliceblue;
    border: 3px solid #1A1F4D;
    border-radius: 15px;
    box-shadow: 3px 3px #1A1F4D;
    overflow-y: scroll;
}

.modal_picture {
    position: relative;
    float: left;
    width: 320px;
    height: 320px;
    margin-top: 6%;
    margin-left: 3%;
    margin-bottom: 20px;
    /* background-color: #898b9d; */
}
.img1 {
    border: 3px solid #1A1F4D;
    box-shadow: 3px 3px #1A1F4D;
    width: 100%;
    height: 100%;
}

.modal_description {
    /* width: 459px; */
    width: calc(320px - 3% - 10px);
    padding-right: 10px;
    padding-left: 10px;
    /* height: 536px; */
    height: calc(500px - 10px);
    padding-top: 10px;
    background-color: #AA738C;
    display: inline-block;
    border: 3px solid #1A1F4D;
    border-radius: 15px;
    box-shadow: 3px 3px #1A1F4D;
    margin-left: 3%;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.closemodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
}


footer {
    position: relative;
    /* width: 100vw; */
    width: calc(100vw - 24px - 24px);
    /* height: 173px; */
    height: calc(290px - 27px - 27px);
    background-color: #1A1F4D;
    margin-top: 100px;
    padding: 24px 27px;
}