* {
    margin: 0;
    padding: 0;
    font-family: "Tomorrow", sans-serif;
}

nav {
    position: fixed;
    /* width: 100vw; */
    width: calc(100vw - 24px);
    /* height: 71px; */
    height: calc(71px - 5px);
    background-color: #FDE0C5;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-left: 24px;
    z-index: 1;
}

#logo_container {
    position: relative;
    width: 200px;
    height: 60px;
    /* background-color: #1A1F4D; */
    text-align: center;
}
#logo {
    color: #1A1F4D;
    text-decoration: none;
    font-size: 48px;
}
#logo:hover {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: white;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    color: white;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    color: #fff;
}

h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.back_button {
    text-decoration: none;
    color: white;
}

h5 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}

h6 {
    font-size: 12px;
    color: #000000;
    font-weight: normal;    
}

h7 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;       
}
.gallery_button {
    text-decoration: none;
    color: white;
}

section {
    position: relative;
    width: 100vw;
}

main {
    position: relative;
    /* width: 880px; */
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 36px;
}

section#first_sect main {
    width: calc(67% - 51px);
    margin-top: 71px;
    padding-left: 51px;
    background-color: #AA738C;
}
section#second_sect main {
    height: 55px;
    padding: 0;
    margin-bottom: 0;
}
section#third_sect main {
    width: calc(67% - 31px);
    padding-left: 31px;
    padding-top: 10px;
    background-color: #AA738C;
}

#gallopt_parent {
    position: relative;
    height: 100%;
}
#galleryoption_one {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: calc(100% - 20px);
    padding-top: 20px;
    text-align: center;
}
#galleryoption_two {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: calc(100% - 20px);
    padding-top: 20px;
    text-align: center;
    left: 30%;
    background-color: #AA738C;
}
.galleryoption:nth-child(2) {
    left: 190px;
}
.galleryoption:hover {
    background-color: #AA738C;
}
#galleryoption_two:hover {
    background-color: #AA738C;
}
#sortby {
    position: relative;
    display: inline;
    float: right;
    width: 50px;
    height: 100%;
    background-color: #1A1F4D;
}

.cardbase_parent {
    position: relative;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    /* background-color: #6f738f; */
}

.card11 {
    position: relative;
    display: inline-block;
    /* height: 275px; */
    height: calc(275px - 18px - 18px);
    /* width: 220px; */
    width: calc(220px - 11px - 11px);
    background-color: white;
    padding: 11px 11px;
    margin-top: 27px;
    margin-left: 10px;
    border: 3px solid #1A1F4D;
    border-radius: 12px;
    box-shadow: 3px 3px #1A1F4D;
}
.card11:hover {
    border: 3px solid #FCB27A;
    box-shadow: 4px 4px #F47B51;
}
.picparent_11 {
    position: relative;
    height: 190px;
    width: 190px;
    margin-bottom: 12px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 4px solid #1A1F4D;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open {
    opacity: 1;
    z-index: 999;
}

.modal_parent {
    /* width: calc(1036px - 70px); */
    width: 75%;
    /* height: 570px; */
    height: calc(570px - 10px);
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border: 3px solid #1A1F4D;
    border-radius: 15px;
    box-shadow: 3px 3px #1A1F4D;
    padding-top: 10px;
    overflow-y: scroll;
}

.modal_picture {
    position: relative;
    float: left;
    width: 402px;
    /* width: 40%; */
    height: 402px;
    margin-top: 6%;
    margin-left: 3%;
    margin-bottom: 20px;
    /* background-color: #898b9d; */
}
.img1 {
    border: 3px solid #1A1F4D;
    box-shadow: 3px 3px #1A1F4D;
    width: 100%;
    height: 100%;
}

.modal_description {
    /* width: 459px; */
    width: calc(450px - 10px);
    padding-left: 10px;
    /* height: 536px; */
    height: calc(536px - 10px);
    padding-top: 10px;
    background-color: #AA738C;
    display: inline-block;
    border: 3px solid #1A1F4D;
    border-radius: 15px;
    box-shadow: 3px 3px #1A1F4D;
    margin-left: 20px;
    overflow-y: scroll;
}

.closemodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
}

footer {
    position: relative;
    /* width: 100vw; */
    width: calc(100vw - 24px - 24px);
    /* height: 173px; */
    height: calc(173px - 27px - 27px);
    background-color: #1A1F4D;
    margin-top: 61px;
    padding: 24px 27px;
}

@media (max-width: 1254px) {
    .modal_picture {
        margin-top: 10%;
        height: 320px;
        width: 320px;
    }
    .modal_description {
        margin-left: 3%;
        width: 50%;
    }
}

@media (max-width: 1022px) {
    .modal_picture {
        margin-top: 15%;
    }
    .modal_description {
        width: 40%;
    }
}


@media (max-width: 850px) {
    nav {
        /* height: 50px; */
        height: calc(50px - 8px);
        padding-top: 8px;
    }

    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 18px;
    }

    #logo_container {
        width: 100px;
        height: 35px;
    }
    #logo {
        font-size: 28px;
    }

    main {
        width: 78%;
    }
    section#first_sect main {
        margin-top: 46px;
        width: calc(78% - 20px);
        padding-left: 20px;
    }
    section#third_sect main, section#fourth_sect main {
        width: calc(78% - 31px);
    }

    .cardbase_parent {
        margin-left: 0;
        padding-left: 2%;
        width: calc(90% - 2%);
    }
}

@media (max-width: 839px) {
    .modal_picture {
        margin-top: 0;
        height: 500px;
        width: 500px;
    }
    .modal_description {
        width: 500px;
    }
}

@media (max-width: 750px) {
    .modal_picture {
        width: 320px;
        height: 320px;
    }
    .modal_description {
        width: 320px;
    }
}

@media (max-width: 730px) {
    .cardbase_parent {
        padding-left: 10%;
        width: calc(90% - 10%);
    }
}